*{
    margin: 0%;
}
/* Adicionei cor ao header */
header{
    background-color:chocolate;
}
/* Adicionei cor ao main */
main{
    background-color:white;
}
/* Adicionei cor ao footer */
footer{
    background-color:brown
}
/* Classifiquei o header para o grid */
header{
    grid-area: cabeça;
}
/* Classifiquei o main para o grid */
main{
    grid-area: principal;
}
/* Classifiquei o header para o grid */
footer{
    grid-area: rodape;
}
/* Responsividade */
body{
    display: grid;
    gap: 15px;
    grid-template-areas:
    "cabeça cabeça cabeça"
    "principal principal principal"
    "rodape rodape rodape";
    grid-template-columns: auto auto auto;
    grid-template-rows:auto auto auto;
}
/* Responsividade */
@media screen and (max-width: 1000px) {
    body{
        grid-template-areas: 
        "cabeça"
        "principal"
        "principal"
        "rodape";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}
/* Mudei a aparencia do link do footer */
footer a{
    text-decoration: none;
    color: #ffffff;
    transition: 1s;
}
/* Mudei a aparencia do link do footer para quando o mouse passar por cima */
footer a:hover{
    color:cornflowerblue;
}
/* Deixei o header relativo ao h1 dele */
header{
    position: relative;
}
/* Deixei o h1 do header absoluto a ele */
header h1{
    position: absolute;
    right: 800px;
}
/* Mudei a aparencia do botao */
button{
    text-decoration: none;
    border-radius: 9px;
    background-color: rgb(255, 145, 0);
    width: 60px;
    height: 30px;
    color: rgb(0, 0, 0);
    margin-top: 6px;
}
/* Mudei a aparencia do nav li */
header nav li{
    background-color: rgb(136, 81, 8);
    width: 45px;
    border-radius: 5px;
    transition: 0.7s;
}
/* Mudei a aparencia do nav li para quando o mouse passar por cima */
header nav li:hover{
    background-color: burlywood;
}
/* Mudei a aparencia do link no li */
li a{
    text-decoration: none;
    color: wheat;
    transition: 0.7s;
}
/* Mudei a aparencia do link no li para quando o mouse passar por cima */
li a:hover{
    text-decoration: underline;
    color: black;
}
/* Mudei a aparencia do elemento mae */
.elementomae{
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    align-items: center;
    flex-direction: row;
}
/* Mudei a aparencia do elemento */
.elemento{
    width: 400px;
    height: 450px;
    border-radius: 2px;
    background-color: rgba(255, 255, 255, 0.322);
    border-color: 10px white;
    align-items: center;
    flex-direction: column;
    display: flex;
    border: 0.1px rgba(0, 0, 0, 0.26) solid;
}
/* Mudei a aparencia do texto */
.texto{
    justify-content: center;
    width: 400px;
    height: 500px;
    border-radius: 20px;
    background-color: rgba(255, 255, 255, 0.322);
    align-items: center;
    flex-direction: column;
    display: flex;
    transition: 0.7s;
}
/* Mudei a aparencia do texto para quando o mouse passar por cima */
.texto:hover{
    background-color: rgba(69, 71, 94, 0.158);
    transition-delay: 5ms;
}
/* Mudei a aparencia da imagem no elemento */
.elemento img{
    width: 400px;
    height: 450px;
    border-radius: 10px;
}
/* Mudei a aparencia do link de texto */
.texto a{
    background-color: blue;
    border-radius: 20px;
    height: 30px;
    width: 120px;
    text-align: center;
    text-decoration: none;
    color: white;
    margin-top: 20px;
    padding: 10px;
    transition: 0.4s;
}
/* Mudei a aparencia do link de texto para quando o mouse passar por cima */
.texto a:hover{
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.685);
}