*{
    margin: 0%;
}
header{
    background-color:chocolate;
}
aside{
    background-color: coral;
    height: auto;
    width: 300px;
    border-radius: 5px;
}
main{
    background-color:beige;
}
footer{
    background-color:brown;
}
header{
    grid-area: cabeça;
}
aside{
    grid-area: secundário;
}
main{
    grid-area: principal;
}
footer{
    grid-area: rodape;
}
body{
    display: grid;
    gap: 15px;
    grid-template-areas:
    "cabeça cabeça cabeça"
    "secundário principal principal"
    "rodape rodape rodape";
    grid-template-columns: auto auto auto;
    grid-template-rows:auto auto auto;
}
@media screen and (max-width: 1000px) {
    body{
        grid-template-areas: 
        "cabeça"
        "secundário"
        "principal"
        "rodape";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}
.elementomae{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.elemento{
    border: 5px;
    width: 300px;
    height: 470px;
    border-radius: 20px 0 10px 0;
    box-shadow: 2px 2px 10px 4px rgb(194, 193, 193);
    background-color: rgb(255, 255, 255);
    margin: 10px;
} 
.elemento:hover{
    
    transition: 1.0s;
    background-color: #0000003f;
}
div{
    text-align: center;
}
header ul a{
    text-decoration: none;
    color: #ffc635;
    transition: 1s;
}
header ul a:hover{
    color: rgb(0, 195, 255);
}
aside p{
    margin-top: 5px;
    margin-left: 5px;
    margin-right: 5px;
}
footer a{
    text-decoration: none;
    color: #ffa5ff;
    transition: 1s;
}
footer a:hover{
    color: fuchsia;
}
aside h1{
    margin-left: 5px;
}
button{
    border-radius: 9px;
    background-color: rgb(0, 0, 0);
    width: 105px;
    height: 30px;
    color: rgb(255, 255, 255);
    margin-top: 6px;
}
img{
    width: 280px;
    border-radius: 5px;
    margin-top: 7px;
    margin: 10px;
}
div a{
    color:white;
    text-decoration: none;
}
div a:hover{
    text-decoration:underline;
}
aside a{
    text-decoration: none;
    color: black;
}
aside a:hover{
    text-decoration: underline;
    background-color: cadetblue;
    transition: 1s;
    border-radius: 5px;
}