/* Removi todas as margens */
*{
    margin: 0%;
}
/* Adicionei cor ao header */
header{
    background-color: rgba(255, 123, 244, 0.685);
}
/* Adicionei cor ao main */
main{
    background-color:rgba(245, 174, 227, 0.63);
}
/* Adicionei cor ao footer */
footer{
    background-color: rgba(155, 59, 155, 0.685);
}
/* Classifiquei o header para o grid */
header{
    grid-area: cabeça;
}
/* Classifiquei o main para o grid */
main{
    grid-area: principal;
}
/* Classifiquei o footer para o grid */
footer{
    grid-area: rodape;
}
/* Responsividade */
body{
    display: grid;
    gap: 15px;
    grid-template-areas:
    "cabeça cabeça cabeça"
    "principal principal principal"
    "rodape rodape rodape";
    grid-template-columns: auto auto auto;
    grid-template-rows:auto auto auto;
}
/* Responsividade */
@media screen and (max-width: 400px) {
    body{
        grid-template-areas: 
        "cabeça"
        "principal"
        "principal"
        "rodape";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}
/*Deixei o titulo do header mais para a direita*/
header h2{
    margin-left: 10px;
}
/* Mudei a aparencia do link do footer */
footer a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    transition: 0.3s;
    margin-left: 10px;
}
/* Mudei a aparencia do link do footer para quando o mouse passar por cima */
footer a:hover{
    color: rgb(0, 0, 0);
}
/*Deixei o paragrafo do footer mais para a direita*/
footer p{
    margin-left: 8px;
}
/* Organizei o card */
.elemento{
    display:flex;
    justify-content: space-around;
}
/* Organizei o div */
.caixa{
    width: 300px;
    height: 450px;
    padding: 20px;
    border-radius: 20px;
    background-color: rgba(154, 102, 250, 0.308);
    flex-direction: column;
    margin: 10px;
    display: flex;
}
/* Mudei a aparencia do link do div */
div a{
    background-color: black;
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    color: beige;
    text-decoration: none;
    transition: 0.3s;
}
/* Mudei a aparencia do link do div para quando o mouse passar por cima */
div a:hover{
    text-decoration: underline;
    color: burlywood;
}
/* Mudei a aparencia do input */
input{
    border-radius: 10px;
    padding: 10px;
}