/* Removi todas as margens */
*{
    margin: 0%;
}
/* Adicionei cor ao header */
header{
    background-color:rgba(230, 175, 241, 0.712);
}
/* Adicionei cor ao aide e ajustei o tamanho e borda */
aside{
    background-color: rgba(230, 143, 241, 0.842);
    height: auto;
    width: 300px;
    border-radius: 5px;
}
/* Adicionei cor ao main */
main{
    background-color:rgba(250, 142, 221, 0.233);
}
/* Adicionei cor ao footer */
footer{
    background-color:rgba(155, 59, 155, 0.685);
}
/* Classifiquei o header para o grid */
header{
    grid-area: cabeça;
}
/* Classifiquei o aside para o grid */
aside{
    grid-area: secundário;
}
/* Classifiquei o main para o grid */
main{
    grid-area: principal;
}
/* Classifiquei o footefile:///tmp/guest-gofhwl/%C3%81rea%20de%20Trabalho/primeira_loja/primeira_loja-main/index.htmlr para o grid */
footer{
    grid-area: rodape;
}
/* Responsividade */
body{
    display: grid;
    gap: 15px;
    grid-template-areas:
    "cabeça cabeça cabeça"
    "secundário principal principal"
    "rodape rodape rodape";
    grid-template-columns: auto auto auto;
    grid-template-rows:auto auto auto;
}
/* Responsividade */
@media screen and (max-width: 400px) {
    body{
        grid-template-areas: 
        "cabeça"
        "secundário"
        "principal"
        "rodape";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}
/* Mudei a aparencia do elemento mae */
.elementomae{
    justify-content: space-around;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
/* Mudei a aparencia do elemento */
.elemento{
    border: 5px;
    width: 300px;
    height: 470px;
    border-radius: 20px 0 10px 0;
    box-shadow: 2px 2px 10px 4px rgb(194, 193, 193);
    background-color: rgb(255, 255, 255);
    margin: 10px;
} 
/* Mudei a aparencia do elemento para quando o mouse passar por cima */
.elemento:hover{
    
    transition: 1.0s;
    background-color: #0000003f;
}
/* Ajustei os textos do div no centro */
div{
    text-align: center;
}
/* Deixei o header mais flexível, ajustei tudo no centro */
header{
    display: flex;
    justify-content: center;
    align-items: center;
}
footer h2{
    margin-left: 8px;
}
/* Mudei a aparencia do link no footer */
footer a{
    text-decoration: none;
    color: #ffffff;
    transition: 0.3s;
    margin-left: 1opx;
    font-size: large;
}
/* Mudei a aparencia do link no footer para quando o mouse passar por cima */
footer a:hover{
    color: rgb(0, 0, 0);
}
/* Deixei o titulo no aside mais para a direita */
aside h1{
    margin-left: 5px;
} 
/* Mudei a aparencia do botao */
button{
    border-radius: 9px;
    background-color: rgb(0, 0, 0);
    width: 105px;
    height: 30px;
    color: rgb(255, 255, 255);
    margin-top: 6px;
}
/* Mudei o tamanho, borda e margem das imagens */
img{
    width: 280px;
    border-radius: 5px;
    margin: 10px;
}
/* Mudei a aparencia dos links no div */
div a{
    color:white;
    text-decoration: none;
}
/* Mudei a aparencia dos links no div para quando o mouse passar por cima */
div a:hover{
    text-decoration:underline;
}
/* Mudei a aparencia do link no aside */
aside h2{
    color: #ffffff;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: xx-large;
    margin-left: 15px;
    margin-top: 10px;
}
aside p{
    font-size: larger;
    margin: 11px;
}
/* Mudei a apaencia do ul */
.nav_mobile ul{
    list-style: none;
    position: absolute;
    top: 40px;
    width: 77%;
}
/* Mudei a aparecia do li dentro do nav */
.nav_mobile li{
    transition: 0.4s;
    border-radius: 20px;
    margin: 10px;
}
/* Mudei a aparecia do li dentro do nav para quando o mouse passar por cima */
.nav_mobile li:hover{
    background-color: rgba(228, 144, 196, 0.507);
}
.nav_mobile a{
    font-size: large;
}
/* Mudei o tamanho da imagem do menu */
.nav_mobile img{
    width: 55px;
}
/* Deixei a caixinha invisivel */
.nav_mobile input[type="checkbox"]{
     display: none;
}
/* Mudei a aparencia do nav, que vai aparecer quando clicar na imagem menu */
.nav_mobile nav{
    background-color: rgb(133, 57, 110);
    width: 250px;
    height: 100vh;
    top: 1px;
    position: absolute;
    left: -360px;
    transition: all 0.3s;
}
/* Mudei a aparencia do texto que esta no nav */
.nav_mobile a{
    display: block;
    padding: 17px 5px;
    text-decoration: none;
}
/* Mudei o label, que é a imagem */
.nav_mobile label{
    position: absolute;
    z-index: 1;
    top: 10px;
    left: 20px;
}
/* Isso é para quando clicar na imagem, o nav aparecer */
.nav_mobile input[type="checkbox"]:checked ~ nav{
    transform: translateX(350px);
}
/* Mudei o tamanho da imagem do header */
header img{
    width: 100px;
}