*{
    margin: 0%;
}
header{
    background-color: brown;
}
aside{
    background-color:coral;
}
main{
    background-color: darkgoldenrod;
}
footer{
    background-color: chocolate;
}
header{
    grid-area: cabeça;
}
aside{
    grid-area: secundário;
}
main{
    grid-area: principal;
}
footer{
    grid-area: rodape;
}
body{
    display: grid;
    gap: 15px;
    grid-template-areas:
    "cabeça cabeça cabeça"
    "secundário principal principal"
    "rodape rodape rodape";
    grid-template-columns: auto auto auto;
    grid-template-rows:auto auto auto;
}
@media screen and (max-width: 1000px) {
    body{
        grid-template-areas: 
        "cabeça"
        "secundário"
        "principal"
        "rodape";
        grid-template-columns: 1fr;
        grid-template-rows: auto auto auto auto;
    }
}
.elementomae{
    justify-content: space-around;
    border: 2px black solid;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    align-items: center;
}
.elemento{
    border: 2px pink;
    width: 80px;
    height: 100px;
    border-radius: 20px 0 10px 0;
    box-shadow: 2px 0px 3px 1px black;
}
